{% for interface in device.interfaces.all() %}
interface {{ interface.name }}
  {# 1. Set Description #}
  {% if interface.description %}
  description {{ interface.description }}
  {% else %}
  description Connected to NetBox {{ interface.name }}
  {% endif %}
  {# 2. Handle Shutdown State #}
  {% if not interface.enabled %}
  shutdown
  {% else %}
  no shutdown
  {% endif %}
  {# 3. Management Interface Configuration #}
  {% if interface.mgmt_only %}
  ip address dhcp
  ipv6 address autoconfig default
  {# 4. Non-Management Interface Configuration #}
  {% else %}
    {# IPv4 Loop #}
    {% for ip in interface.ip_addresses.all() %}
      {% if ip.address.version == 4 %}
  ip address {{ ip.address.ip }} {{ ip.address.netmask }}{% if not loop.first %} secondary{% endif %}
      {% endif %}
    {% endfor %}
    {# IPv6 Loop #}
    {% for ip in interface.ip_addresses.all() %}
      {% if ip.address.version == 6 %}

  ipv6 address {{ ip.address }}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if interface.ospf_enabled == true %}
  ip ospf {{ ospf_process_id }} area {{ ospf_area_id }}
  ip ospf network {{ ospf_network_type }}
  {% endif %}

!
{% endfor %}