hostname {{ device.name }}

!# Enable CDP
cdp run

!# Enable IPv6 Routing
ipv6 unicast-routing

!# Enable aaa new-model
aaa new-model

!# Set DNS settings
{% include 'common/dns.cisco.j2' %}

!# Disable HTTP Server
no ip http server
no ip http secure-server

!# Enable new BGP communities
ip bgp-community new-format

!# Set local admin
{{ local_cisco_admin }}

!# Configure Interfaces
{{ device.role }}

{% if device.role == 'Lab Core Router' %}
{% include 'common/bgp-core-interface.cisco.j2' %}
{% endif %}

!# Set Line Console Settings
{% include 'common/line.cisco.j2' %}

!# Set NTP Server
{% include 'common/ntp.cisco.j2' %}