{# Correct way to fetch plugin data using Netbox's object filtering engine #}
{% set bgp_sessions = custom_plugins.netbox_bgp.models.BGPSession.objects.filter(device_id=device.id) %}

{# Only generate BGP configuration if the query returns active sessions #}
{% if bgp_sessions %}
router bgp {{ bgp_sessions[0].local_as.asn }}
  bgp log-neighbor-changes
  
  {# Step 1: Configure Peer Groups #}
  {% set configured_groups = [] %}
  {% for session in bgp_sessions %}
    {% if session.peer_group and session.peer_group.name not in configured_groups %}
  neighbor {{ session.peer_group.name }} peer-group
  neighbor {{ session.peer_group.name }} remote-as {{ session.peer_group.remote_as.asn if session.peer_group.remote_as else 'alternate' }}
      {% if session.peer_group.description %}
  neighbor {{ session.peer_group.name }} description {{ session.peer_group.description }}
      {% endif %}
      {% if configured_groups.append(session.peer_group.name) %}{% endif %}
    {% endif %}
  {% endfor %}

  {# Step 2: Configure Individual BGP Neighbors #}
  {% for session in bgp_sessions %}
    {% set peer_ip = session.remote_address.address.ip %}
  neighbor {{ peer_ip }} remote-as {{ session.remote_as.asn }}
    {% if session.description %}
  neighbor {{ peer_ip }} description {{ session.description }}
    {% endif %}
    {% if session.peer_group %}
  neighbor {{ peer_ip }} peer-group {{ session.peer_group.name }}
    {% endif %}
    {% if session.cf.bgp_password %}
  neighbor {{ peer_ip }} password {{ session.cf.bgp_password }}
    {% endif %}
  neighbor {{ peer_ip }} activate
  
  {% endfor %}
!
{% endif %}
