{% for interface in device.interfaces.filter(mgmt_only=true) %}
interface {{ interface.name }}
  description {{ interface.description | default('MGMT Interface') }}
  ip address dhcp
  ipv6 address autoconfig default
  no shutdown
{% endfor %}